body {
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
    color: #18181B;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #E4E4E7;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #D4D4D8;
}